.DetailBox {
  padding: 10px;
  padding-left: 30px;
}

.DetailBox > h1 {
  font-weight: bold;
}

.DetailBox > div {
  margin-left: 50px;
  font-size: 1.1rem;
  font-style: oblique;
  font-family: fantasy;
}

@media (max-width: 600px) {
  .backGround > h2 {
    font-size: 1rem !important;
  }
  .DetailBox > h1 {
    font-size: 0.9rem !important;
  }
  .DetailBox > div {
    font-size: 0.3rem;
    margin-left: 20px;
  }
}
