.Nav {
  border: 1px solid lime;
  position: relative;
}
.Nav > .Header > h3 > a {
  line-height: 40px;
  font-size: 2rem;
}
.login {
  border: 1px solid red;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 40px;
  font-size: 1.2rem;
}
.login > ul {
}
.login > ul > li {
  border: 1px solid pink;
  display: inline-block;
}
.Nav > ul {
  border: 1px solid orange;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Nav > ul > li {
  border: 1px solid black;
  display: inline-block;
  width: 25%;
  text-align: center;
  color: black;
  line-height: 40px;
  font-size: 1rem;
}

.Nav > ul > li > a {
}
