.Nav {
  position: relative;
}
.Nav > .Header > h3 > a {
  line-height: 40px;
  font-size: 2rem;
}
.login {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 40px;
  font-size: 1.2rem;
}
.login > ul > a {
}
.login > ul > a > li {
  display: inline-block;
  font-family: cursive;
}
.Nav > ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
.Nav > ul > li {
  display: inline-block;
  width: 25%;
  text-align: center;
  color: black;
  line-height: 40px;
  font-size: 1rem;
}

.Nav > ul > li :hover {
  transition: 0.3s;
  color: skyblue;
}
.Nav > ul > li > a {
}
