.InputType {
  background-color: none;
  height: 3rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.PhotoBox {
  width: 350px;
  height: 400px;
  display: contents;
  flex-flow: column;
}

.DataTitle {
  position: absolute;
  font-weight: bold;
  left: 55px;
  bottom: 0px;
  font-size: 0.7rem;
}

/* .DataLi {
  display: flex;
  margin: 10px;
  padding: 20px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 2px 0 #cfd2d1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
} */
.DataUl {
  /* display: flex;
  flex-flow: wrap;
  padding-left: 30px; */
  overflow: hidden;
  margin: 0 auto;
}
.ShowCss {
  float: left;
  width: 25%;
  padding: 1%;
  max-width: 230px;
  /* max-width: 280px;
  max-height: 280px; */
}
.DataLi {
  /* max-width: 100%;
  height: 200px; */
  padding-top: 75%;
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 30%;
  /* box-shadow: 2px 2px 0 #cfd2d1; */
}
.DataLi img {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
