/* .BOXS {
  border: 1px solid red;
}

.FlowerNameInput {
  display: block;
  width: 100%;
  border: none;
  height: 50px;
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.5rem;

  padding: 14px;
}
.FlowerNameInput:focus {
}
.FlowerNameInput:placeholder-shown {
}

.DesTextArea {
  width: 100%;
  height: 200px;
  background-color: transparent;
  border: none;
  padding: 20px;
}
.DesTextArea:focus {
}

form {
  width: 320px;
  float: left;
  margin: 20px;
}
form > .divBoxd {
  position: relative;
  overflow: hidden;
}
form > .divBoxd > input,
textarea {
  width: 100%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
form > .divBoxd > input,
:valid {
  background: white;
}

form > .divBoxd > input,
:focus {
  border-color: #f06d06;
}
form > .divBoxd > input,
:focus + label {
  background: #f06d06;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}

label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s,
    left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}

form > .divBoxd > input {
  padding: 12px 12px 12px 12px;
}
form > .divBoxd > label {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
form > .divBoxd > input:foucs {
  padding: 4px 6px 20px 6px;
}
form > .divBoxd > input:foucs + label {
  top: 100%;
  margin-top: -16px;
} */
.BOXS {
  margin: 0 atuo;
}

.goBottom {
  width: 100%;
  /* float: left; */
}
.goBottom > .divBoxd {
  position: relative;
  overflow: hidden;
}
.goBottom > .divBoxd > .FlowerNameInput,
.DesTextArea {
  width: 100%;
  border: 1px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
  margin-bottom: 10px;
}
.goBottom > .divBoxd > .FlowerNameInput:valid {
  background-color: white;
}
.goBottom > .divBoxd > .FlowerNameInput:focus,
.DesTextArea:focus {
  border-color: #4051b5;
}
.goBottom > .divBoxd > .FlowerNameInput:focus + .FlowerNameLabel,
.DesTextArea:focus + .FlowerNameLabel {
  background: #4051b5;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}
.FlowerNameLabel {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s,
    left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}
.DesTextArea {
  display: block;
  resize: vertical;
  height: 200px;
}
.goBottom > .divBoxd > .FlowerNameInput,
.DesTextArea {
  padding: 12px 12px 30px 12px;
}
.goBottom > .divBoxd > .FlowerNameLabel {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.goBottom > .divBoxd > .FlowerNameInput:focus + .FlowerNameLabel,
.DesTextArea:focus + .FlowerNameLabel {
  top: 100%;
  margin-top: -16px;
}
