* {
  box-sizing: border-box;
  list-style: none;
  text-decoration-line: none;
  color: black;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #ededed;
}

.Header > h3 {
  display: inline;
  font-family: cursive;
}
.Header {
  display: inline;
  font-family: cursive;
}
.Main_body {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
